body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header, main, footer {
    padding: 20px;
    margin: 10px;
    background: white;
    box-sizing: border-box; /* Ensures padding does not add to width */
}

footer {
    background-color: transparent;
    color: #333;
    font-size: 0.9em;
    text-align: left;
}

h1, h2, h3, h4 {
    color: #333;
}

p {
    margin: 10px 0;
}

/* Improve visibility and readability */
footer h2, footer h3, footer h4 {
    margin-top: 20px;
}

footer p {
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    header, main, footer {
        padding: 15px;
        margin: 5px;
    }

    h1 {
        font-size: 24px; /* Smaller font size on smaller screens */
    }

    footer {
        font-size: 0.8em;
        text-align: center;
    }

    p {
        margin: 10px 5px;
    }

    .video-container {
        min-height: 75vh; /* Larger portion of the screen vertically */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px; /* Smaller font size on very small devices */
    }

    header, main, footer {
        padding: 10px;
        margin: 5px;
    }

    h1 {
        font-size: 20px; /* Even smaller font size for very small devices */
    }

    .video-container {
        min-height: 50vh; /* Adjust for very small screens */
    }
}

/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
}

/* Responsive video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio */
    height: 0;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the area well */
}
